.ios, .md {

  page-results {
    ion-item {
      align-items: baseline;
    }
  }

}

.label-md {
  margin: 13px 8px 13px 8px;
}

.item-md{
  padding-left:0;
}
.item-md.item-block .item-inner {
  padding-right: 0;
}
