<ion-header>
  <ion-navbar class="toolbar-md-primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Recent Mizers
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color:#f05742;">
  <ion-item-group>
    <ion-card color="primary" *ngFor="let mizer of mizers">

      <ion-card-content>
        Pieces: {{mizer.order.chicken_count}} Sides: {{mizer.order.side_count}} Drinks: {{mizer.order.drink_count}}
        Popcorn Chicken: {{mizer.order.popcorn_count}} Sandwich : {{mizer.order.sandwich_count}} <br>
        Price: ${{mizer.trans_info.price}}
        <a style="color:white" href="{{server}}/#/results/kfc/{{mizer.order.chicken_count}}/{{mizer.order.side_count}}/{{mizer.order.drink_count}}/{{mizer.order.popcorn_count}}/{{mizer.order.sandwich_count}}">VIEW</a>
      </ion-card-content>

    </ion-card>
  </ion-item-group>

  <div *ngIf="mizers.length == 0" style="margin-top: 100px">
    <h1 id="optimizer-heading1" style="color:#FFFFFF;text-align:center;">
      You don't have any saved mizers! (Yet)
    </h1>
    <button id="optimizer-button" ion-button color="dark" offset-md-4 col-md-4 block on-click="goToOptimizer()">
      Go To Optimizer
    </button>
  </div>

</ion-content>
